.main {
    display: grid;
    grid-template-rows: 85px auto;
    .navPrin {
        display: flex;
        justify-content: flex-end;
        padding-right: 85px;
        z-index: 2;
        .ulPrin {
            display: flex;
            font-size: 15px;
            color: #fff;
            font-weight: bold;
            column-gap: 30px;
            line-height: 22px;
            align-items: center;
            list-style: none;
            user-select: none;
            white-space: nowrap;
            > li {
                padding: 0 15px;
                padding-bottom: 3px;
            }
            .active {
                border-bottom: 2px solid;
                margin-bottom: -1px;
            }
            .contMoreOpt {
                position: relative;
                width: 205px;
                p {
                    cursor: pointer;
                    padding: 0 15px;
                    height: 25px;
                }
                img {
                    display: none;
                    pointer-events: auto;
                    width: 45px;
                    cursor: pointer;
                }
                nav {
                    position: absolute;
                    padding: 1rem;
                    margin-top: 10px;
                    background: #fff;
                    color: #000;
                    border-radius: 6px;
                    text-align: center;
                    transform-origin: center top;
                    animation-duration: 0.25s;
                    animation-name: viewSubmenu;
                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: 14px;
                        font-size: 13px;
                        list-style: none;
                        li {
                            &:first-child,
                            &:nth-child(2),
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .contInfEntity {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        .dataEntity {
            width: 100%;
            max-width: 750px;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            padding-bottom: 85px;
            div {
                user-select: none;
            }
            img {
                width: 100%;
                padding: 0 120px;
            }
            p {
                font-size: 18px;
                color: #fff;
                text-align: center;
            }
        }
    }
}

@keyframes viewSubmenu {
    from {
        transform: scaleY(0);
        transform-origin: center top;
    }
    to {
        transform: scale(1);
        transition: cubic-bezier(0.17, 0.67, 0.62, 1.6);
    }
}

@media screen and (max-width: 1024px) {
    .main {
        .navPrin {
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        .navPrin {
            justify-content: flex-start;
            padding: 0;
            padding-left: 1.5rem;
            .ulPrin {
                position: fixed;
                top: 1.5rem;
                > li {
                    display: none;
                }
                .contMoreOpt {
                    p {
                        display: none;
                    }
                    img {
                        display: block;
                    }
                    nav {
                        ul {
                            li {
                                &:first-child,
                                &:nth-child(2),
                                &:last-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
