.container {
    display: grid;
    grid-template-rows: repeat(8, 100vh);
    background-image: radial-gradient(
        83.87% 125.8% at 48% 0.66%,
        #0b7bc3 0%,
        #0962aa 14.08%,
        #053880 40.79%,
        #021961 64.96%,
        #01074f 85.51%,
        #000048 100%
    );
    background-attachment: fixed;
}
