.container {
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background: url("/images/linesLeft.svg") top left no-repeat;
    background-size: 50%;
    font-family: "Roboto";
    .info {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        width: 100%;
        max-width: 1000px;
        h4 {
            color: white;
            font-size: 30px;
        }
        .cards_group {
            display: flex;
            position: relative;
            width: 100%;
            height: 437px;
            :nth-child(1) {
                left: 0;
                top: 53px;
            }
            :nth-child(2) {
                left: 236px;
                top: 181px;
                z-index: 2;
            }
            :nth-child(3) {
                right: 236px;
                top: 128px;
                z-index: 1;
            }
            :nth-child(4) {
                right: 0;
                top: 0;
            }
        }
    }
}
